/* reseteador */
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

header{
    background-color: firebrick;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

nav{
    width: 20%;
    background-color: lightcoral;
}

section{
    width: 60%;
    background-color: pink;
}

aside{
    width: 20%;
    background-color: lightcoral;
}

footer{
    background-color: darkred;
    height: 60px;
    clear: left;
    text-align: center;
    line-height: 60px;
}

nav, aside, section{
    float: left;
    padding: 20px;
    height: calc(100vh - 160px);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}