<style>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

/* ENCABEZADO */

.header {
    background-color: #17c3a3;
    padding: 20px;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 3px black;
}

/* MENÚ */

.menu {
    background-color: white;
    padding: 12px;
    border-bottom: 1px solid lightgray;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.menu a:hover {
    color: #17c3a3;
}

/* CONTENIDO */

.contenido {
    width: 95%;
    margin: 20px auto;
}

.categoria {
    color: red;
    font-size: 18px;
    margin-bottom: 10px;
}

.titulo {
    font-size: 45px;
    margin-bottom: 25px;
}

.noticia {
    display: flex;
    gap: 25px;
    text-align: justify;
    line-height: 1.8;
    font-size: 22px;
}

.texto {
    width: 100%;
}

.imagen {
    width: 350px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.imagen img {
    width: 100%;
    border-radius: 5px;

}

/* FOOTER */

.footer {
    background-color: #17c3a3;
    color: black;
    text-align: right;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
}