body{
    font-family: Arial;
}
.campos{
    display: flex;
    margin-bottom: 12px;

}

.campos label{
    width: 100px;
    font-weight: bold;
}
.campos input{
    width: 250px;
    padding: 4px;
    border: 1px solid #999;
}
input{
    display: block;
    margin: 10px;
}

.botones {
    display: flex;
    gap: 5px;
}

.Formulario{
    background-color: rgb(229, 221, 221);
}
.Contactos{
    background-color: blanchedalmond;
}

h2{
    text-align: center;

}

.Formulario, .Contactos{
    width: 800px;
    margin: auto;
    padding: 10px;
}

.tabla-contactos{
    width: 60%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-contactos th{
    background-color: #00ffaa;
    text-align: center;
    padding: 4px 8px;
    border: 1px solid #ccc;
}


.tabla-contactos td{
    background-color: #d8d5d5;
    padding: 4px 8px;
    border: 1px solid #ccc;
}

.botones input:hover{
    background-color: blanchedalmond;
}